.liner{
    grid-template-columns: 1fr;
    text-align: center;
    }
    .liner-img{
        text-align: center;
    }
    .about-avatar{
        display: none;
    }
    .project-one,
    .project-tow,
    .project-three{
        display: grid;
        grid-template-columns: 1fr;
        margin: 50px;
    }
    .pro-one-titel,
    .pro-tow-titel,
    .pro-three-titel{
        margin-top: 30px;
    }  
    .pro-page img{
        width: 350px;
        height: 200px;
    }

    .pro-tow-img{
        margin-top: 50px;
    }
    .about-cont{
        text-align: center;
    }

    /* .nav-CV{
        position: relative;
        right: 580px;
    } */

    .nav-link{
        display: none;
    }
    .edu-grid{
        grid-template-columns: 1fr;
    }